snippet outl "Outline point"
	\outline{$1}

snippet def "Definition"
	\begin{definition}[$1]
		$2
	\end{definition}

snippet form "Formula"
	\begin{formula}[$1]
		\begin{math}
			$2
		\end{math}
	\end{formula}
